# Dependencies
node_modules/

# Next.js and TypeScript build artifacts
.next/
dist/
out/

# Environment variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
